<div class="container mt-2">
 
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>ID</th>
        <th>Date and Time (UTC)</th>
        <th>Venue</th>
        <th>Performers</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events.responseObj">
        <td>{{ event.wishlistid }}</td>
        <td>{{ event.type }}</td>
        <td>{{ event.id }}</td>
        <td>{{ event.datetime_utc }}</td>
        <td>
          <ul>
            <li>VenueID: {{ event.venue.venueid }}</li>
            <li>Name: {{ event.venue.name }}</li>
            <li>Capacity: {{ event.venue.capacity }}</li>
              <li>Country: {{ event.venue.country }}</li>
          </ul>
        </td>
        <td>
          <ul *ngFor="let performer of event.performers">
            <li>PerformerId: {{ performer.perfid }}</li>
             <li>Name: {{ performer.name }}</li>
            <li>Score: {{ performer.score }}</li>
          </ul>
        </td>
        <td> <button
          class="btn btn-warning mx-3"
         
        >
         Delete
        </button></td>
      </tr>
    </tbody>
  </table>
  </div>